// Заголовки, загальні БЕМ блоки та інше...

.block-header {
    display: grid;
    @include adaptiveValue("gap", 24, 15);

    grid-template-columns: auto;

    // .block-header--center

    &--center {
        text-align: center;
    }

    &--inline {
        grid-template-columns: minmax(auto, toRem(586)) minmax(auto, toRem(613));
        justify-content: space-between;
        align-items: end;
        @media (max-width: $tablet) {
            grid-template-columns: auto;
        }
    }

    // .block-header__title

    &__title {
        color: #171921;
        @include adaptiveValue("font-size", 52, 32);
        font-weight: 700;
        line-height: 1.23;

        // .block-header__title--big

        &--big {
            @include adaptiveValue("font-size", 64, 28);
        }

        // .block-header__title--white

        &--white {
            color: #fff;
        }

        transform: translate(0, 15%);
        opacity: 0;
        transition: transform 0.5s, opacity 0.5s;
        ._watcher-view &{
            transform: translate(0,0);
            opacity: 1;

        }
    }

    // .block-header__text

    &__text {
        transform: translate(0, 15%);
        opacity: 0;
        transition: transform 0.5s 0.3s, opacity 0.5s 0.3s;
        ._watcher-view &{
            transform: translate(0,0);
            opacity: 1;

        }
        
        p {
            line-height: 1.55;
        }
    }
}
/*
                <div class="block-header">
                    <h2 class="block-header__title">
                        Professional for your home services
                    </h2>
                    <div class="block-header__text">
                        <p>You need help for home care? We are home care professionals focused in the US region. We provide several services that support home services</p>
                    </div>
                </div>
*/
//==================================================================
.text{
    line-height: math.div( 28, 18);
}